@model List<EDziennik.Models.MarkView>
@{
    ViewData["Title"] = "Marks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var mod in Model)
{
    <h1>Marks @mod.FirstName @mod.LastName</h1>
    <p>
        <a asp-action="Create" asp-route-userId="@mod.StudentId">Create New</a>
    </p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Mark</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in mod.Marks)
            {
            <tr>
                <td>@item.value</td>
                <td>@item.description</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" asp-route-userId="@mod.StudentId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" asp-route-userId="@mod.StudentId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" asp-route-userId="@mod.StudentId">Delete</a>
                </td>
            </tr>

            }
        </tbody>
    </table>
}
